{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form class="form" role="form" action="" method="post"> {% csrf_token %}
                    <header align="center"
                            style="color:#C21325;"
                            class="h2 text-uppercase font-weight-bold">Registration
                    </header>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>First Name</label>
                                {{ form.first_name}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Last Name</label>
                                {{ form.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Mobile Number</label>
                                {{ form.mobile }}
                                <span style="color: red;">{{ form.mobile.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Email</label>
                                {{ form.email}}
                                <span style="color: red;">{{ form.email.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Country</label>
                                {{ form.country }}
                                <span style="color: red;">{{ form.country.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Nationality</label>
                                {{ form.nationality}}
                                <span style="color: red;">{{ form.nationality.errors }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Role</label>
                                {{ form.role }}
                                <span style="color: red;">{{ form.role.errors }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Password</label>
                                <input type="password" name="password1" class="form-control" autocomplete="new-password"
                                       required="" id="id_password1"><br>
                                <span style="color: red;">{{ form.password1.errors }}</span><br>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class='control-label'>Confirm Password</label>
                                <input type="password" name="password2" class="form-control" autocomplete="new-password"
                                       required="" id="id_password2"><br>
                                <span style="color: red;">{{ form.password2.errors }}</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <a href="{% url 'login' %}" style="color:#C21325;">Login</a>
                        <button type="submit" style="background-color:#C21325;color:white;margin-left:20px;"
                                class="btn ink-reaction">Submit
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div class="mt-5">

</div>
{% endblock %}